<div class="pagination">
  <div class="ui right floated pagination menu">
    <a class="icon item"
       [ngClass]="{'disabled': prevDisabled}"
       [routerLink]="'../1'">
      <i class="step backward icon"></i>
    </a>
    <a class="icon item"
       [ngClass]="{'disabled': prevDisabled}"
       [routerLink]="'../' + prev()">
      <i class="left chevron icon"></i>
    </a>

    <a *ngFor="let item of itemsToShow"
       class="item"
       [ngClass]="{'active': item.active}"
       [routerLink]="'../' + item.page">{{ item.page }}</a>

    <a class="icon item"
       [ngClass]="{'disabled': nextDisabled}"
       [routerLink]="['../' + next()]">
      <i class="right chevron icon"></i>
    </a>
    <a class="icon item"
       [ngClass]="{'disabled': nextDisabled}"
       [routerLink]="'../' + last()">
      <i class="step forward icon"></i>
    </a>
  </div>
</div>
